{% extends "default/module.html.jinja2" %}
{# Private implementation bases have no public reference anchor. #}
{% macro bases(cls) %}
    {%- if cls.bases -%}
        <wbr>(
        {%- for base in cls.bases -%}
            <span class="base">{% if base[1].startswith('_') %}{{ base[2] | escape }}{% else %}{{ base[:2] | link(text=base[2]) }}{% endif %}</span>
            {%- if loop.nextitem %}, {% endif %}
        {%- endfor -%}
        )
    {%- endif -%}
{% endmacro %}
